.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items:center;
  justify-content: center;
  background: linear-gradient(140deg, rgb(12, 182, 168), rgb(11, 172, 159));
}

.calculator{
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}
form input{
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  font-size: 16px;
  background-color: rgb(222, 238, 241);
  margin: 2px;
  border-radius: 10px;
  color:rgb(1, 8, 14);
  font-weight: bolder;
  font-style: oblique;
  cursor: pointer;
}
form input[type="button"]:hover {
  background-color: aquamarine;
}
form .display{
  display: flex;
  justify-content: flex-end;
  margin:5px 0px 15px 0px;
}

form .display input{
  text-align: right;
  flex: 1;
  font-size: 40px;
  padding: 5px 10px;
  background-color: rgb(148, 203, 216);
}
form input.equal{
  width: 125px;
}